<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" routerLink="/admin/home">
            <span class="align-middle">AdminKit</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li [class]="chosseItem === 1 ? 'sidebar-item active': 'sidebar-item'"(click)="checkIteam(1)">
                <a class="sidebar-link" (click)="checkIteam(1)" routerLink="/admin/category" >
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Category</span>
                </a>
            </li>

            <li>
                <div [class]="chosseItem === 2 ? 'sidebar-item active': 'sidebar-item'"(click)="checkIteam(2)">
                    <a class="sidebar-link"(click)="checkIteam(2)" routerLink="/admin/product" >
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Product</span>
                    </a>
                </div>

            </li>

            <li [class]="chosseItem === 3 ? 'sidebar-item active': 'sidebar-item'"(click)="checkIteam(3)">
                <a class="sidebar-link" (click)="checkIteam(3)" routerLink="/admin/user" >
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">User</span>
                </a>
            </li>

            <li [class]="chosseItem === 4 ? 'sidebar-item active': 'sidebar-item'"(click)="checkIteam(4)">
                <a class="sidebar-link" (click)="checkIteam(4)" routerLink="/admin/order" >
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Order</span>
                </a>
            </li>

        </ul>
    </div>
</nav>