<app-pre-header></app-pre-header>
<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          <li><a routerLink="homePage">Home</a></li>
          <li class="active">Address book</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-3">
          <ul class="list-group margin-bottom-25 sidebar-menu">
            <li class="list-group-item clearfix"><a routerLink="/signin"><i class="fa fa-angle-right"></i> Login/Register</a></li>
            <li class="list-group-item clearfix"><a routerLink="#"><i class="fa fa-angle-right"></i> My account</a></li>
            <li class="list-group-item clearfix"><a routerLink="#"><i class="fa fa-angle-right"></i> Address book</a></li>
            <li class="list-group-item clearfix"><a routerLink="/wishList"><i class="fa fa-angle-right"></i> Wish list</a></li>
          </ul>
        </div>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-9">
          <h1>Adresss book</h1>
          <div class="content-form-page">
            <div class="row">
              <form #addressForm="ngForm" (ngSubmit)="addAddress(addressForm.value)">
                <table id='table1' class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Address Name</th>
                      <th>Full Name</th>
                      <th>Nation</th>
                      <th>Area</th>
                      <th>Street</th>
                      <th>Phone</th>
                      <th>Postal code</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let a of address">
                      <td>{{a.name}}</td>
                      <td>{{a.fullName}}</td>
                      <td>{{a.landmark}}</td>
                      <td>{{a.houseNo}}</td>
                      <td>{{a.street}}</td>
                      <td>{{a.mobileNo}}</td>
                      <td>{{a.postalCode}}</td>
                      <td>
                        <a href="javascript:void()"(click)="deleteAddress(a.id)" onclick="return confirm('Ban co chac muon xoa ko?')" class="btn btn-block">X</a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>
                        <input type="text" id="name" name="name" ngModel class="form-control" placeholder="Name" required #name="ngModel">
                      </td>
                      <td>
                        <input type="text" id="fullName" name="fullName" ngModel class="form-control" placeholder="Full Name" required minlength="5" #fullname="ngModel">
                      </td>
                      <td>
                        <input type="text" id="landmark" name="landmark" ngModel class="form-control" placeholder="Nation" required #landmark="ngModel">
                      </td>
                      <td>
                        <input type="text" id="houseNo" name="houseNo" ngModel class="form-control" placeholder="Area" required #houseNo="ngModel">
                      </td>
                      <td>
                        <input type="text" id="street" name="street" ngModel class="form-control" placeholder="Street" required #street="ngModel">
                      </td>
                      <td>
                        <input type="text" id="mobileNo" name="mobileNo" ngModel class="form-control" placeholder="mobileNo" required pattern="^[0-9\-\+]{9,15}$" #mobileNo="ngModel">
                      </td>
                      <td>
                        <input type="number" class="form-control" id="postalCode" name="postalCode" ngModel placeholder="Postal" required #postalCode="ngModel">
                      </td>
                      
                      <td>
                        <div class="text-center">
                          <button type="submit" [disabled]="!addressForm.valid"  class="btn btn-primary" >Add</button>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </form>

            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>
<app-pre-footer></app-pre-footer>
