<div class="wrapper">
    <app-nav-menu></app-nav-menu>
    <div class="main">
        <app-header></app-header>
<main class="content">
    <div class="container-fluid p-0">

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Edit user</h1>
        </div>
        <div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Form row</h5>
            <h6 class="card-subtitle text-muted">Bootstrap column layout.</h6>
        </div>
        <div class="card-body">
            <form method="post" #formEdit="ngForm" (ngSubmit)="onUpdate(formEdit.value)" >
                <!-- <div *ngFor="let pro of produc.pro"> -->
                    <div class="mb-3">
                        <label class="form-label">User id:</label>
                        <input type="text" class="form-control" name="userid" placeholder="User id" [(ngModel)]="users.userid" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">User Name:</label>
                        <input type="text" class="form-control" name="username" placeholder="User name" [(ngModel)]="users.username">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Full Name:</label>
                        <input type="text" class="form-control" name="fullName" placeholder="Full name" [(ngModel)]="users.fullName">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="inputEmail4">Password:</label>
                            <input type="password" class="form-control" name="password"  placeholder="Password" [(ngModel)]="users.password">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="inputPassword4">Email:</label>
                            <input type="text" class="form-control" name="email"  placeholder="Email"  [(ngModel)]="users.email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone: </label>
                        <input type="text" class="form-control" name="phone"  placeholder="Phone"  [(ngModel)]="users.phone">
                    </div>
                    <div class="mb-3">
                        <label class="form-label w-100">Address:</label>
                        <input type="text" class="form-control" name="address"  placeholder="Address"  [(ngModel)]="users.address">
                    </div>
                <!-- </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</main>
</div>