<div class="wrapper">
    <app-nav-menu></app-nav-menu>
    <div class="main">
        <app-header></app-header>
<main class="content">
    <div class="container-fluid p-0">

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Edit product</h1>
        </div>
        <div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <form method="post" #formEdit="ngForm" (ngSubmit)="onUpdate(formEdit.value)" >
                <!-- <div *ngFor="let pro of produc.pro"> -->
                    <div class="mb-3">
                        <label class="form-label">Product id:</label>
                        <input type="text" class="form-control" name="proId" readonly placeholder="Product id" [(ngModel)]="produc.proId" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Name:</label>
                        <input type="text" class="form-control" name="proName" #proName="ngModel" placeholder="Product name" [(ngModel)]="produc.proName">
                        <div [hidden]="proName.valid || proName.pristine"
                            class="alert alert-danger">
                            Product Name is required
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="inputEmail4">Price:</label>
                            <input type="number" class="form-control" name="price"  placeholder="Price" #price="ngModel" [(ngModel)]="produc.price">
                            <div [hidden]="price.valid || price.pristine "
                                class="alert alert-danger">
                                Price is required
                        </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="inputPassword4">Sale price:</label>
                            <input type="number" class="form-control" name="sale_price"  placeholder="Sale price" #sale="ngModel"  [(ngModel)]="produc.sale_price">
                            <div *ngIf="sale.value>price.value "
                                class="alert alert-danger" >
                                <span [hidden]="sale.valid || sale.pristine"></span> Sale is required and smaller than price
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="inputEmail4">Color:</label>
                            <input type="text" class="form-control" name="color" #color="ngModel"  placeholder="color" [(ngModel)]="produc.color" required >
                            <div [hidden]="color.valid || color.pristine "
                                class="alert alert-danger">
                                color is required
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="inputPassword4">Size:</label>
                            <input type="text" class="form-control" name="size" #size="ngModel"  placeholder="Size" [(ngModel)]="produc.size" required>
                            <div [hidden]="size.valid || size.pristine "
                                class="alert alert-danger">
                                size is required
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Offer:</label>
                        <input type="number" class="form-control" name="offer" [(ngModel)]="produc.offer" placeholder="Offer">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="inputPassword4">Category:</label>
                        <select name="cateId" #myCateElem class="form-select mb-3" [value]="catId">
                            
                            <option 
                            *ngFor="let cate of category"
                            [value]="cate.cateId"
                            >
                            {{cate.cateName}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description: </label>
                        <textarea class="form-control" name="description"  placeholder="Description" rows="3"  [(ngModel)]="produc.description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label w-100">Image:</label>
                        <input type="file" name="file" id="file" (change)="getBase64($event)">
                    </div>
                    <img src={{imageProduct}} width="100px" height="100px" *ngIf="produc.image != null"> 
                    <div class="mb-3">
                        <label class="form-label w-100">Image:</label>
                        <input type="file" name="files" id="files" multiple (change)="getFile($event)">
                    </div>
                    <div class="mb-3">
                        <img style="margin-right: 10px;"
                            *ngFor="let image of produc.carouselImages"
                            src="{{image.name}}" width="100px" height="100px"
                        />
                    </div>
                    <div>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"   name="status" [value]="true" [(ngModel)]="produc.status">
                            <span class="form-check-label">
                                Active
                            </span>
                        </label>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"  name="status"[value]="false" [(ngModel)]="produc.status">
                            <span class="form-check-label">
                                Inactive
                            </span>
                        </label>
                    
                    </div>
                <!-- </div> -->
                <button type="submit" class="btn btn-primary" [disabled]="!formEdit.valid">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</main>
</div>