<app-pre-header></app-pre-header>
<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          <li><a routerLink="/homePage">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li class="active">{{product.proName}}</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-5">
          <ul class="list-group margin-bottom-25 sidebar-menu">
            <li class="list-group-item clearfix" *ngFor="let cate of category">
                <a routerLink="/product/{{cate.cateId}}" >
                    <i class="fa fa-angle-right"></i> 
                    {{cate.cateName}}
                </a>
            </li>
          </ul>

          <div class="sidebar-products clearfix">
            <h2>Bestsellers</h2>
            <div class="item" *ngFor="let ps of productSaler.slice(0, 3)">
              <a routerLink="/productDetails/{{ps.proId}}">
                <img src={{ps.image}} class="img-responsive" alt="Berry Lace Dress">
                </a>
                <h3><a routerLink="/productDetails/{{ps.proId}}">{{ps.proName}}</a></h3>
              <div class="price">${{ps.sale_price}}</div>
            </div>
            
          </div>
        </div>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-7">
          <div class="product-page">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="product-main-image">
                  <img src={{product.image}} alt="Cool green dress with red bell" class="img-responsive" data-BigImgsrc="assets/pages/img/products/model7.jpg">
                </div>
              </div>
              <div class="col-md-6 col-sm-6" *ngIf="product">
                <h1>{{product.proName}}</h1>
                <div class="price-availability-block clearfix">
                  <div class="price">
                    <strong><span>$</span>{{product.sale_price}}</strong>
                    <em>$<span>{{product.price}}</span></em>
                  </div>
                  <div class="availability">
                    Availability: <strong>{{product.status==true ? "In Stock":"Out of stock"}}</strong>
                  </div>
                </div>
                <div class="description">
                  <p>{{product.description}}</p>
                </div>
                <div class="product-page-options">
                  <div class="pull-left">
                    <label class="control-label">Category:</label>
                    {{product.cateId.cateName}}
                  </div>
                </div>
                <div class="product-page-cart">
                  <div class="product-quantity" >
                    <div class="input-group bootstrap-touchspin input-group-sm">
                      <span class="input-group-btn">
                        <button class="btn quantity-down bootstrap-touchspin-down minus" type="button" (click)="handleMinus()">
                          <i class="fa fa-angle-down"></i>
                        </button>
                      </span>
                      <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                      <input id="product-quantity" type="number" readonly="" class="form-control input-sm" style="display: block;"
                      [(ngModel)]="value" step="1" max="" #myCateElem name="subtotal" id="subtotal">  
                      <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                      <span class="input-group-btn">
                        <button class="btn quantity-up bootstrap-touchspin-up plus" type="button" (click)="handlePlus()">
                          <i class="fa fa-angle-up"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit" (click)="addToCart(product)">Add to cart</button>
                </div>

              </div>

              <div class="product-page-content">
                <ul id="myTab" class="nav nav-tabs">
                  <li class="active"><a routerLink="#Reviews" data-toggle="tab">Reviews ({{cmtNumber}})</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="Reviews">
                    <!--<p>There are no reviews for this product.</p>-->
                    <div class="review-item clearfix" *ngFor="let cmt of comment">
                      <div class="review-item-submitted">
                        <strong>{{cmt.users.fullName}}</strong>
                        <em>{{cmt.createDate | date:'dd/MM/yyyy - HH:mm'}}</em>
                        <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                      </div>                                              
                      <div class="review-item-content">
                          <p>{{cmt.text}}</p>
                      </div>
                    </div>
                  

                    <!-- BEGIN FORM-->
                    <form class="reviews-form" role="form" method="post" #commentPro="ngForm" (ngSubmit)="insertCmt(commentPro.value,product)">
                      <h2>Write a review</h2>
                      <div class="form-group">
                        <label for="review">Review <span class="require">*</span></label>
                        <textarea class="form-control" rows="8" id="text" name="text" ngModel></textarea>
                      </div>
                      <div class="padding-top-20">                  
                        <button type="submit" class="btn btn-primary">Send</button>
                      </div>
                    </form>
                    <!-- END FORM--> 
                  </div>
                </div>
              </div>

              <div class="sticker sticker-sale"></div>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->

      <!-- BEGIN SIMILAR PRODUCTS -->
      <div class="row margin-bottom-40">
        <div class="col-md-12 col-sm-12">
          <h2>Most popular products</h2>
          <div class="bx-wrapper" style="max-width: 1200px;">
            <div class="bx-viewport" style="width: 100%; position: relative; height: 330px;">
              <ul class="bxslider bxslider-similar-products" data-slides-phone="1" data-slides-tablet="2" data-slides-desktop="4" data-slide-margin="20" style="width: 815%; position: relative; transition-duration: 0s; ">
                <li style="float: left; list-style: none; position: relative; width: 270px; margin-right: 20px;" class="bx-clone" *ngFor="let p of productSale.slice(0, 4)">
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src={{p.image}} class="img-responsive" alt="Berry Lace Dress">
                        <div>
                          <a routerLink="#" (click)="addToWishList(p)" class="btn btn-default fancybox-button">Like</a>
                          <a routerLink="/productDetails/{{p.proId}}" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a routerLink="/productDetails/{{p.proId}}">{{p.proName}}</a></h3>
                    <div class="pi-price">${{p.sale_price}}</div>
                    <a href="#" class="btn btn-default add2cart" (click)="addToCart(p)">Add to cart</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- END SIMILAR PRODUCTS -->
    </div>
  </div>
<app-pre-footer></app-pre-footer>
